<template>
    <div>
        <v-progress-linear :active="loading" color="indigo" height="4" indeterminate></v-progress-linear>
        <v-row v-if="endpoint">
            <v-col lg="6" sm="12" md="12">
                <v-col cols="12">
                    <strong>Docblock:</strong> :
                    <pre class="pre" v-html="doc"></pre>
                    <br>
                    <v-divider></v-divider>
                </v-col>
                <v-col cols="12">
                    <v-text-field v-model="finalUrl" label="Solo" solo dense @keydown.enter="send(endpoint.group)">
                        <template v-slot:prepend-inner>
                            <v-btn x-small dark readonly>{{endpoint.group}}</v-btn>
                        </template>
                        <template v-slot:append-outer>
                            <v-btn small icon color="secondary" @click="send(endpoint.group)">
                                <v-icon>mdi-send</v-icon>
                            </v-btn>
                        </template>
                    </v-text-field>

                    <v-tabs vertical v-model="active_tab" v-show="endpoint.group !== 'GET'">
                        <v-tab v-for="tab of tabs" :key="tab.index">
                            <v-icon left>mdi-code-braces</v-icon>
                            {{tab.name}}
                        </v-tab>
                        <v-tab-item>
                            <v-card flat>
                                <v-card-text>
                                    <codemirror v-model="payload" :value.sync="payload" :options="cmOptionsJson"></codemirror>
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                    </v-tabs>

                </v-col>

            </v-col>
            <v-col cols="auto">
                <v-divider vertical></v-divider>
            </v-col>
            <v-col lg="5" sm="12" md="12">
                <vue-json-pretty :path="'data'" :data.sync="result" :showLength="true" :highlightMouseoverNode="true"></vue-json-pretty>
            </v-col>

        </v-row>
    </div>
</template>


<script>
    import 'codemirror/mode/javascript/javascript.js'

    export default {
        props: {
            endpoint: Object,
        },
        data() {
            return {
                loading      : false,
                doc          : '',
                params       : '',
                payload      : '',
                finalUrl     : '',
                result       : null,
                active_tab   : 1,
                tabs         : [
                    {index: 1, name: 'Payload'},
                ],
                cmOptionsJson: {
                    lineNumbers            : false,
                    styleActiveLine        : true,
                    styleSelectedText      : true,
                    foldGutter             : false,
                    readOnly               : false,
                    lineWiseCopyCut        : true,
                    cursorBlinkRate        : 300,
                    showCursorWhenSelecting: true,
                    mode                   : 'application/json',
                    theme                  : 'default',
                    extraKeys              : {
                        "Cmd-Enter": () => this.send(this.endpoint.group)
                    }
                }
            }
        },
        watch: {
            endpoint(val) {
                this.loading = true;
                http.post("/getDocsBy", {"endpoint": val}).then((res) => {
                    this.finalUrl = val.name;
                    this.result = null;
                    this.params = JSON.stringify(res.data.param, null, 4);
                    this.payload = JSON.stringify(res.data.payload, null, 4);
                    this.doc = res.data.doc;
                    this.loading = false;
                });
            },
        },


        methods: {
            send: async function (type) {
                this.loading = true;
                if (type === "GET") {
                    // we have to do post even though it's get
                    await http.post("/request/get", {
                        "endpoint": this.finalUrl
                    }).then((res) => {
                        this.loading = false;
                        this.result = res.data;
                    }).catch((e) => {
                        console.log(e);
                        this.loading = false
                    })

                } else if (type === "POST" || type === "PUT" || type === "DELETE") {
                    type = type.toLowerCase();
                    let res = null;
                    const obj = {
                        "endpoint": this.finalUrl,
                        "payload" : this.payload
                    };
                    if (type === "post")
                        await http.post("/request/" + type, obj).then((res) => {
                            this.loading = false;
                            this.result = res.data;
                        });
                    else if (type === "put")
                        await http.put("/request/" + type, obj).then((res) => {
                            this.loading = false;
                            this.result = res.data;
                        });
                    else if (type === "delete")
                        await http.delete("/request/" + type, obj).then((res) => {
                            this.loading = false;
                            this.result = res.data;
                        });


                    this.loading = false
                }
            }

        }
    }
</script>
<style scoped>
    /* Code Styles */
    .pre {
        font-family: IBM Plex Mono, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
        font-size: 12px;
        overflow-x: auto;
        background-color: #f9f9f9;
    }
</style>
