<template>
    <div>
        <v-app-bar app>
            <v-toolbar-title>Explore Scrotis API</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-autocomplete v-model="endpoint" :disabled="loading" :items="routes" hide-details solo
                            item-text="name" return-object append-icon="search"
                            :filter="filterObject"
                            label="Search for a endpoint...">
                <template v-slot:item="data">
                    <v-list-item-content>
                        <v-list-item-title v-html="data.item.name"></v-list-item-title>
                        <v-list-item-subtitle v-html="data.item.group"></v-list-item-subtitle>
                    </v-list-item-content>
                </template>
            </v-autocomplete>
        </v-app-bar>


        <v-main app>

            <explorer-component :endpoint="endpoint"></explorer-component>

        </v-main>

    </div>
</template>
<script>
    export default {
        data() {
            return {
                endpoint: null,
                loading : false,
                routes  : []
            }
        },

        methods: {
            filterObject(item, queryText, itemText) {
                return item.name.toLocaleLowerCase().indexOf(queryText.toLocaleLowerCase()) > -1;
            }
        },

        mounted() {
            this.loading = true;
            http.get("/getExplorerData").then((res) => {
                this.loading = false;
                this.routes = res.data;
            });
        }
    }
</script>
