<template>
    <v-footer app>
        <v-col>
            <span class="grey--text">This tool is for C4S/MG developers only!</span>
        </v-col>
        <v-col align="right">
            <v-badge :content="count" color="indigo lighten-1" overlap>
                <v-icon>mdi-account-group</v-icon>
            </v-badge>

            <a href="/games/" style="text-decoration: none;">
                <v-icon size="2">mdi-gamepad-variant</v-icon>
            </a>
        </v-col>
    </v-footer>
</template>

<script>
export default {
    data() {
        return {
            count: 1,
        }
    },

    methods: {
        // async poll(fn, fnCondition, ms) {
        //     let result = await fn();
        //     while (fnCondition(result)) {
        //         await new Promise(resolve => setTimeout(resolve, ms));
        //         result = await fn();
        //     }
        //     return result;
        // },

        listen() {

            // Echo.join('channel-visitor')
            //     .here(e => console.log('here',e))
            //     .joining(e => console.log(e))
            //     .leaving(e => console.log(e))
            //     .listen('Visitor', (e) => {
            //         console.log(e);
            //     });

            Echo.channel('channel-visitor').listen('Visitor', e => this.count = e.visitor)

        }
    },
    mounted: function () {
        this.listen();

        // this.poll(() => http.get('/ping').then(_ => {
        //     http.get('/visitors').then(res => this.count = res.data.count)
        // }), () => true, 1000 * 60)
    }
}
</script>
