<template>
    <div>
        <v-app-bar app>
            <v-toolbar-title>PHP SandBox
                <v-chip class="ma-2" color="red" outlined>
                    <v-icon left>mdi-language-php</v-icon>
                    {{ version }}
                </v-chip>
            </v-toolbar-title>

            <v-spacer></v-spacer>

            <v-menu v-model="menu" :close-on-content-click="false" :nudge-width="200" offset-x>
                <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on" @click="getHistory">
                        <v-icon>mdi-history</v-icon>
                    </v-btn>
                </template>

                <v-list two-line max-width="500">
                    <v-list-item-group v-model="selected">
                        <template v-for="(item, index) in items">
                            <v-list-item>
                                <template>
                                    <v-list-item-content>
                                        <v-list-item-subtitle class="text-sm-left" v-text="item"></v-list-item-subtitle>
                                    </v-list-item-content>

                                </template>
                            </v-list-item>

                            <v-divider v-if="index + 1 < items.length" :key="index"></v-divider>
                        </template>
                    </v-list-item-group>
                </v-list>


            </v-menu>


        </v-app-bar>

        <v-main app>

            <php-component :inject="items[selected]"></php-component>

        </v-main>
    </div>
</template>

<script>
    export default {
        props  : {
            version: String,
        },
        data() {
            return {
                menu    : false,
                selected: null,
                items   : [],
            }
        },
        methods: {
            getHistory() {
                http.get("/history/php").then((res) => this.items = Object.values(res.data));
            }
        },
        mounted() {
            this.getHistory();
        }
    }
</script>
