<template>
    <v-navigation-drawer permanent :mini-variant="true" app>
        <v-list dense>
            <v-list-item link href="/">
                <v-list-item-action>
                    <v-icon color="indigo lighten-1">mdi-database-edit</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>SQL SandBox</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item link href="/php">
                <v-list-item-action>
                    <v-icon color="indigo lighten-1">mdi-language-php</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>PHP SandBox</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item link href="/explore">
                <v-list-item-action>
                    <v-icon color="indigo lighten-1">mdi-api</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>Scrotis API Explorer</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <!--<v-list-item link href="/terminal">
                <v-list-item-action>
                    <v-icon color="indigo lighten-1">mdi-console</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>Connect Server From Browser</v-list-item-title>
                </v-list-item-content>
            </v-list-item>-->

            <v-list-item link href="/qlf">
                <v-list-item-action>
                    <v-icon color="indigo lighten-1">mdi-eye</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>Explorer DB</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    // IMPORT CSS
    import 'vuetify/dist/vuetify.min.css'
    import 'material-design-icons-iconfont/dist/material-design-icons.css'

    export default {
        data() {
            return {}
        }
    }
</script>
