<template>
    <v-container class="fill-height" fluid>
        <v-row justify="start">
            <v-col lg="6" sm="12" md="12">
                <v-select :items="selectItems" v-model="selectedItem" solo required label="Select Database Server"></v-select>
            </v-col>
        </v-row>
        <v-row>
            <v-col lg="6" sm="12" md="12">
                <v-card class="mx-auto" shaped>
                    <v-responsive :aspect-ratio="6/5">
                        <v-card-text>
                            <div class="text-center">Be careful what you <code>select/insert/delete/update</code>. Use <code>limit</code></div>
                            <codemirror v-model="query" :options="cmOptions" @keyHandled="onCmKeyHandled"></codemirror>
                        </v-card-text>
                    </v-responsive>

                </v-card>
            </v-col>
            <v-col lg="6" sm="12" md="12">
                <v-progress-linear :active="loading" color="indigo" indeterminate></v-progress-linear>
                <vue-json-pretty :path="'data'" :data="responseData" :showLength="true" :highlightMouseoverNode="true"></vue-json-pretty>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
// language sql
import 'codemirror/mode/sql/sql.js'
import 'vue-json-pretty/lib/styles.css';
import _ from "lodash";

const query = `# To submit a SQL code use Control + Enter \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n`;

export default {
    props: {
        inject: String,
    },
    data() {
        return {
            loading     : false,
            dialog      : false,
            selectItems : [
                "neil", "administrativetools", "affiliate", "Allin", "api", "BatchEmailSystem", "C4S_BasicSecure", "C4S_Frameworks", "C4SListPage", "c4slive", "C4SLiveDB",
                "c4smembers", "c4snews", "c4swl", "ChangeLogger", "clipcash", "clubelite", "ContentManagement", "Expenses", "footparties", "G2", "gb_test", "gizmo",
                "information_schema", "ipleasurestreams", "kinkwhore", "kinkwhoreforum", "log", "logs", "mantis_support", "mbs", "models", "MonitoringSystem", "MyC4S", "mysql",
                "natsc4s", "NetAppMigration", "NewRedmine", "OauthSystem", "OpenNetAdmin", "PCISystem", "performance_schema", "redmine", "RedmineDB", "StorageLeveling",
                "StorageSync", "StripClubs", "stripclubsonline", "supportdata", "test", "traffic", "translation", "Users", "wordpress", "WordPressInternal"
            ],
            selectedItem: "neil",
            query       : query,
            responseData: {"data": null},
            cmOptions   : {
                mode     : 'text/x-mysql',
                theme    : 'default',
                extraKeys: {
                    "Ctrl"     : "autocomplete",
                    "Cmd-Enter": (cm, name) => this.onCmKeyHandled(cm, name)
                }

            }
        }
    },
    watch  : {
        inject: function (newData, oldData) {
            this.query = newData;
        }
    },
    methods: {
        onCmKeyHandled(key, name) {
            if (name === 'Cmd-Enter') {
                this.loading = true;
                http.post("/sql/", {
                    query   : this.query,
                    database: this.selectedItem
                }).then((res) => {
                    clippyAgent.stopCurrent()
                    let items = ['CheckingSomething','SendMail','GestureRight','Searching','Print','GetAttention','LookDownRight','Thinking']
                    clippyAgent.play(items[Math.floor(Math.random()*items.length)])
                    this.loading = false;
                    this.responseData = res.data;
                }).catch(function (error) {
                    clippyAgent.play('GestureRight');
                    clippyAgent.speak(error);
                    console.log(error);
                });
            }
        }
    },
    created() {
        //prevent accidental reloads
        window.addEventListener('beforeunload', (event) => {
            event.preventDefault();
            event['returnValue'] = "are you sure?";
        }, false)
        setTimeout(() => clippyAgent.animate(), 10000)
    }
}

//prevent fro accidental back navigation
// window.onbeforeunload = () => {
//     return "are you sure?"
// };
</script>

