<template>
    <div>
        <v-app-bar app>
            <v-toolbar-title>MySQL SandBox
                <v-chip class="ma-2" color="red" outlined>
                    <v-icon left>mdi-database-check</v-icon>
                    {{ host }}
                </v-chip>
            </v-toolbar-title>

            <v-spacer></v-spacer>


            <!--  SQL TO LARAVEL DIALOG  -->
            <v-dialog v-model="dialog" max-width="700">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn class="white--black ma-2" small @click="sqlToBuilder" v-bind="attrs" v-on="on">
                        <v-img max-height="20" max-width="20" src="img/laravel-icon.png"/>
                    </v-btn>
                </template>

                <v-card>
                    <input type="hidden" id="code" :value="sqlQuery">
                    <v-card-title class="headline grey lighten-2">SQL To Laravel Query Builder</v-card-title>
                    <v-card-text><br>
                        <code v-html="sqlQuery"></code>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" text @click="copy">Copy</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <!--/  SQL TO LARAVEL DIALOG  /-->


            <v-menu v-model="menu" :close-on-content-click="true" :nudge-width="200" offset-x>
                <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on" @click="getHistory">
                        <v-icon>mdi-history</v-icon>
                    </v-btn>
                </template>

                <v-list two-line max-width="500">
                    <v-list-item-group v-model="selected">
                        <template v-for="(item, index) in items">
                            <v-list-item>
                                <template>
                                    <v-list-item-content>
                                        <v-list-item-subtitle class="text-sm-left" v-text="item"></v-list-item-subtitle>
                                    </v-list-item-content>

                                </template>
                            </v-list-item>

                            <v-divider v-if="index + 1 < items.length" :key="index"></v-divider>
                        </template>
                    </v-list-item-group>
                </v-list>


            </v-menu>

        </v-app-bar>

        <v-main app>
            <sql-component :inject="items[selected]" ref="sqlComponent"></sql-component>
        </v-main>
    </div>
</template>

<script>

export default {
    data() {
        return {
            dialog  : false,
            sqlQuery: '',
            host    : process.env.MIX_HOST,
            menu    : false,
            selected: null,
            items   : [],
        }
    },
    methods: {
        getHistory() {
            http.get("/history/sql").then((res) => this.items = Object.values(res.data));
        },
        sqlToBuilder() {
            this.sqlQuery = this.$refs.sqlComponent['query'] ?? '';
            this.convert(this.sqlQuery);
        },
        copy() {
            this.dialog = !this.dialog
            let el = document.querySelector('#code')
            el.setAttribute('type', 'text')
            el.select()
            document.execCommand("copy");
            /* unselect the range */
            el.setAttribute('type', 'hidden')
            window.getSelection().removeAllRanges()
        },
        convert(input) {
            input = input
                .replace(/#.*$/gm, '')
                .replace(/\/\/.*|\/\*[^]*\*\//g, '')
                .replace(/(\r?\n|\n|\r)/gm, " ")

            if (input.trim() == '') {
                return;
            }

            if (input.slice(-1) == ';') {
                input = input.slice(0, -1);
            }

            let parsed = null;

            try {
                parsed = SQLParser.parse(input);
            } catch (e) {
                this.sqlQuery = e.message;
            }

            if (parsed !== null) {
                let builder = new Builder(parsed);

                let output = '';

                try {
                    output = builder.convert();
                } catch (e) {
                    output = e.message;
                }

                this.sqlQuery = output;
            }
        }
    },
    mounted() {
        this.getHistory();
    }
}
</script>
