<template>
    <v-container fluid class="grey lighten-5">
        <v-row>
            <v-col cols="8">
                <div id="terminal"></div>
            </v-col>
            <v-col cols="4">
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import {Terminal} from 'xterm';
import {AttachAddon} from 'xterm-addon-attach';
import {FitAddon} from 'xterm-addon-fit';
import "xterm/css/xterm.css";


export default {
    name: "TerminalComponent",
    data() {
        return {
            input     : [],
            socket    : null,
            term      : null,
        }
    },
    methods: {},
    mounted: function () {


        Echo.channel('channel-visitor')
            .listen('Visitor', (e) => {
                console.log(e);
            });


        // let _this = this;
        // this.socket = new WebSocket(process.env.MIX_SOCKET_HOST)
        // this.term = new Terminal({
        //     rendererType: "canvas", //Rendering type
        //     rows        : 35, //Rows
        //     convertEol  : true, //When enabled, the cursor will be set to the beginning of the next line
        //     scrollback  : 10, //The amount of rollback in the terminal
        //     disableStdin: false, //Whether input should be disabled
        //     cursorStyle : "underline", //Cursor style
        //     cursorBlink : true, //Cursor blinks
        //     theme       : {
        //         foreground: "white", //Font
        //         background: "#2d3748", //Background color
        //     }
        // });
        // this.term.open(document.getElementById('terminal'));
        // const fitAddon = new FitAddon();
        // this.term.loadAddon(fitAddon);
        // const attachAddon = new AttachAddon(this.socket);
        // this.term.command = {lastCommand: '', currentCommand: ''}
        //
        //
        // this.term.writeln('This is a shell emulator.');
        // this.term.prompt = () => this.term.write('\r\n$ ')
        // this.term.prompt();
        // this.term.focus();
        // fitAddon.fit()
        // this.term.loadAddon(attachAddon);
        //
        // this.term.onKey((data) => {
        //     this.term.write(data.key);
        //     this.term.command.currentCommand = this.term.command.currentCommand + data.key;
        //
        //
        //     if (data.domEvent.key === 'Enter') {
        //
        //         this.term.command.lastCommand = this.term.command.currentCommand;
        //         this.term.command.currentCommand = '';
        //         this.term.write('\r\n');
        //         this.socket.send(JSON.stringify({command: this.term.command.lastCommand }))
        //     } else if (data.domEvent.key === 'Backspace') {
        //         this.term.write('\b \b');
        //         this.term.command.currentCommand = this.term.command.currentCommand.substring(0, this.term.command.currentCommand.length - 1);
        //         if (this.term.buffer.active.cursorX === 1) {
        //             this.term.write(`$ `)
        //         }
        //     }
        //
        //
        // });
        //
        // this.socket.addEventListener('message', (msg) => {
        //     this.term.write(JSON.parse(msg.data));
        //     this.term.prompt()
        // })

        // let curr_line = '';
        // let entries = [];
        // let currPos = 0;
        // let pos = 0;
        // this.term.onKey(function (e) {
        //     const printable = !e.domEvent.altKey && !e.domEvent.ctrlKey && !e.domEvent.metaKey && !(e.domEvent.keyCode === 37);
        //
        //     if (e.domEvent.keyCode === 13) { // Enter key
        //         if (curr_line.replace(/^\s+|\s+$/g, '').length !== 0) { // Check if string is all whitespace
        //             entries.push(curr_line);
        //             currPos = entries.length - 1;
        //             _this.term.prompt();
        //         } else {
        //             _this.term.prompt();
        //         }
        //         curr_line = '';
        //     }
        //
        //     _this.socket.send(JSON.stringify({input:e.key}));
        //
        //
        //     // else if (e.domEvent.keyCode === 8) { // Backspace
        //     //     if (_this.term.buffer.active.cursorX > 5) {
        //     //         curr_line = curr_line.slice(0, _this.term.buffer.active.cursorX - 6) + curr_line.slice(_this.term.buffer.active.cursorX - 5);
        //     //         pos = curr_line.length - _this.term.buffer.active.cursorX + 6;
        //     //         _this.term.write(`\r\n$` + curr_line);
        //     //         _this.term.write(''.concat(pos.toString())); //_this.term.write('\033[<N>D');
        //     //         if (_this.term.buffer.active.cursorX === 5 || _this.term.buffer.active.cursorX === curr_line.length + 6) {
        //     //             _this.term.write(`$`)
        //     //         }
        //     //     }
        //     // }
        //     // else if (e.domEvent.keyCode === 38) { // Up arrow (disabled for now)
        //     //     if (entries.length > 0) {
        //     //         if (currPos > 0) {
        //     //             currPos -= 1;
        //     //         }
        //     //         curr_line = entries[currPos];
        //     //         _this.term.write(''); //`` + curr_line
        //     //     }
        //     // }
        //     // else if (e.domEvent.keyCode === 40) { // Down arrow (disabled for now)
        //     //     currPos += 1;
        //     //     if (currPos === entries.length || entries.length === 0) {
        //     //         currPos -= 1;
        //     //         curr_line = '';
        //     //         _this.term.write(``);
        //     //     } else {
        //     //         curr_line = entries[currPos];
        //     //         _this.term.write(''); //`` + curr_line
        //     //
        //     //     }
        //     // }
        //     // else if (printable && !(e.domEvent.keyCode === 39 && _this.term.buffer.active.cursorX > curr_line.length + 4)) {
        //     //     if (e.domEvent.keyCode != 37 && e.domEvent.keyCode != 39) {
        //     //         let input = e.key;
        //     //         if (e.domEvent.keyCode == 9) { // Tab
        //     //             input = "    ";
        //     //         }
        //     //         pos = curr_line.length - _this.term.buffer.active.cursorX + 4;
        //     //         curr_line = [curr_line.slice(0, _this.term.buffer.active.cursorX - 5), input, curr_line.slice(_this.term.buffer.active.cursorX - 5)].join('');
        //     //         _this.term.write(input);
        //     //         _this.socket.send(input);
        //     //     } else {
        //     //         _this.term.write(e.key);
        //     //     }
        //     // }
        // });


    }
}
</script>
