<template>
    <div>
        <v-app-bar app>
            <v-toolbar-title>Connect Server From Browser</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-menu v-model="menu" :close-on-content-click="false" :nudge-width="200" offset-x>

                <v-list two-line max-width="500">
                    <v-list-item-group v-model="selected">
                        <template v-for="(item, index) in items">
                            <v-list-item>
                                <template>
                                    <v-list-item-content>
                                        <v-list-item-subtitle class="text-sm-left" v-text="item"></v-list-item-subtitle>
                                    </v-list-item-content>

                                </template>
                            </v-list-item>

                            <v-divider v-if="index + 1 < items.length" :key="index"></v-divider>
                        </template>
                    </v-list-item-group>
                </v-list>


            </v-menu>


        </v-app-bar>

        <v-main app>

            <terminal-component></terminal-component>

        </v-main>
    </div>
</template>

<script>


export default {
    props  : {
        version: String,
    },
    data() {
        return {
            menu    : false,
            selected: null,
            items   : [],
        }
    },
}
</script>
